In [1]:
# dependencies
import pandas as pd
import gmaps
import requests
#API key
from config import g_key

In [2]:
# import dataframe
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gua Musang,MY,2022-09-10 03:21:21,4.8823,101.9644,77.72,94,100,1.19
1,1,La Rioja,ES,2022-09-10 03:21:22,42.2500,-2.5000,49.78,78,14,3.74
2,2,Port Alfred,ZA,2022-09-10 03:21:22,-33.5906,26.8910,58.17,97,4,1.01
3,3,Tasiilaq,GL,2022-09-10 03:21:23,65.6145,-37.6368,42.96,65,6,6.24
4,4,The Pas,CA,2022-09-10 03:21:23,53.8251,-101.2541,51.82,66,100,11.50

In [3]:
# configure gmaps to use api key
gmaps.configure(api_key=g_key)

In [12]:
# remove negative temps

max_temp = city_data_df['Max Temp']

#temps = [max(temp,0) for temp in max_temp]

#for temp in max_temp:
    #temps.append(max(temp,0))

# create heatmap
# assign locations to an array of lat and lon pairs
locations = city_data_df[['Lat', 'Lng']]
# assign variable weights to array of equal length
max_temp = city_data_df['Max Temp']
# assign fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
# assign heatmap_layer variable and pass in locations and weights, use list comprehension to remove negatives
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# add heatmap layer to figure
fig.add_layer(heatmap_layer)
# call figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<= max_temp)&(city_data_df['Max Temp']>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gua Musang,MY,2022-09-10 03:21:21,4.8823,101.9644,77.72,94,100,1.19
8,8,Palatka,US,2022-09-10 03:21:25,29.6486,-81.6376,76.96,99,98,3.06
13,13,Faanui,PF,2022-09-10 03:21:27,-16.4833,-151.7500,78.98,75,8,22.62
15,15,Victoria Point,AU,2022-09-10 03:21:28,-27.5833,153.3000,78.26,47,46,8.01
18,18,Atuona,PF,2022-09-10 03:21:30,-9.8000,-139.0333,76.53,77,32,26.73
20,20,Vieques,PR,2022-09-10 03:21:30,18.4250,-65.8329,80.64,94,20,0.00
22,22,Vaini,TO,2022-09-10 03:21:31,-21.2000,-175.2000,78.96,83,75,6.91
23,23,Manokwari,ID,2022-09-10 03:21:32,-0.8667,134.0833,84.02,68,84,9.75
32,32,Gushikawa,JP,2022-09-10 03:21:35,26.3544,127.8686,87.03,74,40,12.66
36,36,Hede,CN,2022-09-10 03:21:37,33.7681,120.2517,77.23,57,100,8.25

In [19]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [20]:
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0       Gua Musang      MY     77.72   4.8823  101.9644
8          Palatka      US     76.96  29.6486  -81.6376
13          Faanui      PF     78.98 -16.4833 -151.7500
15  Victoria Point      AU     78.26 -27.5833  153.3000
18          Atuona      PF     76.53  -9.8000 -139.0333
20         Vieques      PR     80.64  18.4250  -65.8329
22           Vaini      TO     78.96 -21.2000 -175.2000
23       Manokwari      ID     84.02  -0.8667  134.0833
32       Gushikawa      JP     87.03  26.3544  127.8686
36            Hede      CN     77.23  33.7681  120.2517

In [26]:
# set parameters to search for a hotel
params = {
    'radius': 5000,
    'type' : 'lodging',
    'key' : g_key
}

# iterate through dataframe
for index, row in hotel_df.iterrows():
    
    # get the lat and lon
    lat = row['Lat']
    lng = row['Lng']
    
    # add coordinates to params
    params['location'] = f'{lat},{lng}'
    
    # create search URL
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    
    # get first hotel name from request data
    try:
        
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
        
    except(IndexError):
        
        print('Hotel not found...skipping.')

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Gua Musang,MY,77.72,4.8823,101.9644,Mines Inn Hotel
8,Palatka,US,76.96,29.6486,-81.6376,Holiday Inn Express & Suites Palatka Northwest...
13,Faanui,PF,78.98,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
15,Victoria Point,AU,78.26,-27.5833,153.3000,Bay Retreat Motel
18,Atuona,PF,76.53,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
20,Vieques,PR,80.64,18.4250,-65.8329,"The St. Regis Bahia Beach Resort, Puerto Rico"
22,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
23,Manokwari,ID,84.02,-0.8667,134.0833,Swiss Belhotel Manokwari
32,Gushikawa,JP,87.03,26.3544,127.8686,Kirari Guest House
36,Hede,CN,77.23,33.7681,120.2517,Vienna 3 Best Hotel Sheyang Jiefang Rd

In [30]:
# Add a heatmap of temperature for the vacation spots.

# heat_layer variables
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

# create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# create marker layer
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# add layers to figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))