## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Current Description
0,0,Hobart,AU,-42.8794,147.3294,46.26,69,40,scattered clouds
1,1,Boende,CD,-0.2167,20.8667,68.43,99,83,broken clouds
2,2,Vaini,TO,-21.2000,-175.2000,80.76,74,20,few clouds
3,3,Caravelas,BR,-17.7125,-39.2481,69.84,77,8,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,73.13,73,3,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?65
What is the maximum temperature you would like for your trip?90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
selected_cities = city_data_df.loc[(city_data_df['Max Temp']>=min_temp)&(city_data_df['Max Temp']<=max_temp)]
selected_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Current Description
1,1,Boende,CD,-0.2167,20.8667,68.43,99,83,broken clouds
2,2,Vaini,TO,-21.2000,-175.2000,80.76,74,20,few clouds
3,3,Caravelas,BR,-17.7125,-39.2481,69.84,77,8,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,73.13,73,3,clear sky
9,9,Kapaa,US,22.0752,-159.3190,84.18,78,100,light rain
13,13,Algeciras,ES,36.1333,-5.4505,71.58,86,78,broken clouds
19,19,Bubaque,GW,11.2833,-15.8333,78.82,81,100,light rain
20,20,Emerald,AU,-23.5333,148.1667,65.34,70,100,overcast clouds
23,23,Cervo,ES,43.6702,-7.4101,65.97,76,100,overcast clouds
24,24,Hithadhoo,MV,-0.6000,73.0833,81.66,72,29,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
selected_cities.count()

City_ID                374
City                   374
Country                374
Lat                    374
Lng                    374
Max Temp               374
Humidity               374
Cloudiness             374
Current Description    374
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = selected_cities.dropna()
clean_df.count()

City_ID                374
City                   374
Country                374
Lat                    374
Lng                    374
Max Temp               374
Humidity               374
Cloudiness             374
Current Description    374
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Boende,CD,68.43,broken clouds,-0.2167,20.8667,
2,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,
3,Caravelas,BR,69.84,clear sky,-17.7125,-39.2481,
4,Rikitea,PF,73.13,clear sky,-23.1203,-134.9692,
9,Kapaa,US,84.18,light rain,22.0752,-159.3190,
13,Algeciras,ES,71.58,broken clouds,36.1333,-5.4505,
19,Bubaque,GW,78.82,light rain,11.2833,-15.8333,
20,Emerald,AU,65.34,overcast clouds,-23.5333,148.1667,
23,Cervo,ES,65.97,overcast clouds,43.6702,-7.4101,
24,Hithadhoo,MV,81.66,scattered clouds,-0.6000,73.0833,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params['location'] = f'{lat},{lng}'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
        
    except(IndexError):
        
        print('Hotel not found...skipping.')

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'].astype(bool)]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,Caravelas,BR,69.84,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
4,Rikitea,PF,73.13,clear sky,-23.1203,-134.9692,People ThankYou
9,Kapaa,US,84.18,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Algeciras,ES,71.58,broken clouds,36.1333,-5.4505,AC Hotel by Marriott Algeciras
19,Bubaque,GW,78.82,light rain,11.2833,-15.8333,"Casa Dora, Bubaque"
20,Emerald,AU,65.34,overcast clouds,-23.5333,148.1667,The Irish Village
23,Cervo,ES,65.97,overcast clouds,43.6702,-7.4101,Hotel Spa Galatea
24,Hithadhoo,MV,81.66,scattered clouds,-0.6000,73.0833,Scoop Guest House
26,Avarua,CK,78.85,broken clouds,-21.2078,-159.7750,Paradise Inn

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))